<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <div class="col-sm-12">
        <input type="text" class="form-control" [(ngModel)]="search" (ngModelChange)="searchBook()" id="search"
          placeholder="Search a Book">
      </div>
    </div>
  </div>
</div><br>
<div class="row">
  <div class="col-sm-3" *ngFor="let book of filteredBooks">
    <img src="../assets/images/Book.jpg" class="img-responsive margin" style="width:50%" alt="Image">
    <p>
      <b>Name:</b>{{book.name}} <br>
      <b>Author:</b>{{book.author}} <br>
    </p>
    <hr>
    <button type="button" [routerLink]="['/book-detail', book.id]" class="btn btn-info">Borrow this Book</button>
  </div>
</div>