<h3 i18n="@@introPara">
  Borrower Details
</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID#</th>
      <th>Borrower Name</th>
      <th>Phone</th>
      <th>Book Name</th>
      <th>Author Name</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let borrower of borrowers">
      <td>{{borrower.id}}</td>
      <td>{{borrower.borrowerName}}</td>
      <td>{{borrower.borrowerPhone}}</td>
      <td>{{borrower.bookName}}</td>
      <td>{{borrower.bookAuthor}}</td>
      <td>{{borrower.date}}</td>
    </tr>
  </tbody>
</table>